.background_edit {
    background-image: url(https://images.pexels.com/photos/1583653/pexels-photo-1583653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.form_edit {
    background: white;
    padding: 5vh;
    margin: auto;
    border-radius: 15px;
    justify-content: center;
    align-items: left;
    
    
}
