// Specific CSS for your home-page
.question {
  text-align: center;
  text-decoration: underline;
  font-family: 'Circular', sans-serif;
  font-style: italic;
  margin-top: 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
.illustration {
  margin: 20px 0;
  padding: 10px;
  border: solid 10px white;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  display: flex;
  flex-direction: row;
  transition: all .2s ease-in-out;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  p {
    font-size: 24px;
    padding: 0 25px;

  }
  &:hover {
    transform: scale(1.005);
  }
}
.img-illu {
  margin: 0 25px;
  width: 300px;
}
