// Specific CSS for your home-page
.question {
  text-align: center;
  color: #797979;
  font-family: 'Circular', sans-serif;
  font-style: italic;
  margin-top: 20px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
}
.illustration {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  border: solid 1px #c0c0c0;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.005);
  }
}
.img-illu {
  height: 20vh;
  width: 25vh;
}
.description {
  font-size: 20px;
  font-family: 'Lora', serif;
}
