<div class="banner">
  <h1>Find & Trust</h1>
  <h2>Find Faster, Trust More</h2>
   <%= link_to 'Go Deeper', new_booking_path, class: 'button' %>
</div>

  <h2 class="question">How it works</h2>
<div class="container mb-3">
  <div class="row">
    <div class="col-12 col-lg-4">
      <div class="card-step shadow p-3 bg-white rounded">
        <h3><i class="fas fa-search"></i></h3>
        <h4>We sort for you</h4>
        <p>
          Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-step shadow p-3 bg-white rounded">
        <h3><i class="fas fa-truck"></i></h3>
        <h4>We find for you</h4>
        <p>
          Lorem ipsum dolor sit amet

        </p>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="card-step shadow p-3 bg-white rounded ">
        <h3><i class="fas fa-money-check"></i></h3>
        <h4>Payment</h4>
        <p>
          Lorem ipsum dolor sit amet
        </p>
      </div>
    </div>

  </div>
</div>
<div class="illustration d-flex col-12 shadow-lg p-2 mb-5 bg-white rounded text-align-center">
  <%= image_tag "https://lvdneng.rosselcdn.net/sites/default/files/dpistyles_v2/ena_16_9_extra_big/2020/02/08/node_707104/45321071/public/2020/02/08/B9722503364Z.1_20200208100036_000%2BG7JFFEQBD.1-0.jpg?itok=x08RiM8r1581152443", alt: "alttext", class: "img-illu" %>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Officiis eligendi alias autem expedita odit sit aliquam,
    quam nam magni corporis quae quisquam voluptatem mollitia laboriosam
    tenetur velit totam at exercitationem.
  </p>
</div>

