.banner {
  width: 100%;
  padding: 15%;
  color: white;
  background-image:
  linear-gradient(135deg, rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.25)),
  url(https://images.pexels.com/photos/411011/sun-energy-solar-electricity-411011.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: #3841b3;
  text-align: center;
  letter-spacing: 4px;

  h1, h2 {
    padding: 0;
    margin: 0;
    font-family: 'Halant', serif;
    text-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);

  }
  h1 {
    font-size: 2.8em;
    padding: 10px 0;
    font-weight: 900;
  }
  h2 {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 5px;
    margin-bottom: 25px;
  }
}
