.footer {
  z-index: 10;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: all 0.3s;
}
.footer-links a:hover {
  color: #007FFF;
}
.footer-copyright {
  color: black;
  opacity: 1;
  transition: all 0.3s;
  &:hover {
    color: #007FFF;
  }
}
