.navbar-lewagon {
  justify-content: space-between;
  font-family: 'Circular', sans-serif;
  background: white;
  height: 80px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  background-color: white;
    border-radius: 50%;
    border: 2px solid #52AA5E;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    opacity: 2.75;
}
.navbar-lewagon a {
  color: white !important;
}
